name: aqua

on:
  pull_request:
    paths:
      - .config/aquaproj-aqua/aqua.yaml
      - .config/aquaproj-aqua/aqua-checksums.json

jobs:
  update-aqua-checksums:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .config/aquaproj-aqua
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.head_ref }}

      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.56.6
          working_directory: .config/aquaproj-aqua
        env:
          AQUA_CONFIG: aqua.yaml
          AQUA_LOG_LEVEL: info

      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - run: |
          aqua update-checksum --prune
          git add aqua-checksums.json
          git commit -m "Update aqua checksum"
          git push origin "refs/heads/${{ env.BRANCH }}"
        env:
          BRANCH: ${{ github.head_ref }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
