name: CI

on:
  push:

jobs:
  checks:
    runs-on: ubuntu-latest
    permissions: read-all
    env:
      AQUA_GLOBAL_CONFIG: .config/aquaproj-aqua/aqua.yaml

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
          aqua_opts: "-a -l"
        env:
          AQUA_CONFIG: .config/aquaproj-aqua/aqua.yaml
          AQUA_LOG_LEVEL: info

      - name: Format Lua
        run: stylua --check --allow-hidden .

      - name: Format Others
        run: dprint check
